</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>  
    <a 
      href="/movies" <%- title === 'All Movie' ? 'class="active"' : '' %>
    >
      All Movies
    </a>
    <a 
    href="/movies/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>
    >
    Add Movie
  </a>

  </nav>