</head>
<body>
  <nav>
		<i class="fas fa-plane-departure fa-2x"></i>
    <a 
      href="/flights" <%- title === 'All Movie' ? 'class="active"' : '' %>
    >
      All Flights
    </a>
    <a 
    href="/flights/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>
    >
    Add Flight
  </a>

  </nav>