/* form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  margin-bottom: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
} */

ul{
  list-style: none;
}

.red{
  color:red;
}

.err{
  color:red;
  grid-column: 2;
  font-size: 14px;
  font-weight: bold;
}

form > button{
  font-size: 16px;
  margin-bottom: 5px;
}

form > button.del{
  color:red;
  border-radius: 50%;
}
